@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.font-sora{
    font-family: "Sora", sans-serif;
}
.active{
    font-weight: 700;
    background-color: #6607b4b6;
    color: rgb(255, 255, 255);
    padding: 10px 10px ;
    border-radius: 40px;
}